# Byte-compiled Python files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# dotenv
.env
.env.*

# virtualenv
venv/
ENV/
env/
venv.bak/
env.bak/

# IDEs and editors
# IntelliJ IDEA
.idea/
*.iml
*.iws
out/

# VSCode
.vscode/

# Vim/Neovim
*.swp
*.swo
*.swn
*.un~
*.viminfo

# Emacs
*~
\#*\#
.\#*

# Notepad++
*.bak

# Sublime Text
*.sublime-workspace
*.sublime-project

# Eclipse
.metadata/
*.log
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath

# NetBeans
nbproject/private/
build/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml

# Visual Studio
.vs/
*.vcxproj
*.vcxproj.filters
*.pdb
*.aps
*.ncb
*.sdf
*.cache
*.ilk
*.log
*.ipch
*.iobj
*.suo
*.user
*.ttf
*.pch
*.lib
*.obj
*.dll
*.exe
*.generated
*.tlog
*.pyproj
*.vcxproj.user

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# macOS specific files
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.apdisk

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/